body {
  		padding: 25px;
 		background-color: #001F3F;
  		color: #7FDBFF;
 		font-size: 25px;
		font-family: 'Roboto';
		}

.dark-mode {
  		background-color: black;
  		color: white;
		}

.center {
		 margin: 0;
		 position: absolute;
		 top: 1%;
	     left: 50%;
	     -ms-transform: translate(-50%, -50%);
		 transform: translate(-50%, -50%);
	     font-family: 'Roboto';
		 }
		
.low {
		margin: 0;
		position: absolute;
		top: 95.5%;
		left: 0.5%;
	    font-family: 'Roboto';
		}

.smalltxt {
	font-family: 'Roboto';
	font-size: 8pt;
	position: absolute;
	top: 95.5%;
	left: 95%;
}

.hrline {
		width: 99.9%;
  		border: 1px solid #FF4136;
  		position: absolute;
  		left: 0%;
  		top: 94.5%;
		}

.ee {
  padding: 5px;
  width: 36px;
  position: absolute;
  top: 94.4%;
  left: 97.5%;
}

.wzmap {
	padding: 5px;
	position: absolute;
	top: 10%;
	left: 0%;
}
/* img {
  padding: 5px;
  width: 36px;
  position: absolute;
  top: 95%;
  left: 97.5%;
} */