body {
  		padding: 25px;
 		background-color: #001F3F;
  		color: #7FDBFF;
 		font-size: 25px;
		font-family: 'Roboto';
	}

.center {
		 margin: 0;
		 position: absolute;
		 top: 1%;
	     left: 50%;
	     -ms-transform: translate(-50%, -50%);
		 transform: translate(-50%, -50%);
	     font-family: 'Roboto';
		 }
		
.low {
		margin: 0;
		position: absolute;
		top: 91.9%;
		left: 0.5%;
	    font-family: 'Roboto';
		}


.hrline {
		width: 99.9%;
  		border: 1px solid #FF4136;
  		position: absolute;
  		left: 0%;
  		top: 91.5%;
		}

