body {
  		padding: 25px;
 		background-color: #001F3F;
  		color: #7FDBFF;
 		font-size: 25px;
		font-family: 'Roboto';
	}

.uptable {
	font-family: Arial;
	font-size: 20px;
	color: #ff9700;
	border-collapse: collapse;
	background-color: #007cff

}

table { padding: 10px auto; }

.table {
	font-family: Lucida Sans Unicode;
	font-size: 20px;
	color: #ff9700;
}